<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <div class='nav'>
            <a href='/' class='menu'>Home</a>
            <a href='/blog' class='menu'>All Blogs</a>
            <a href='/newpost' class='menu'>New Post</a>
            {% if not session['email'] %}
                <a href='/signup' class='menu'>Register</a>
                <a href='/login' class='menu'>Login</a>
            {% else %}
                <a href='/logout' class='menu'>Logout</a>
            {% endif %}
        </div>
        <h1 align="center">BLOGZ</h1>
        <style type="text/css">
            .error {
                color: red;
            }
            .nav {
                float: right;
            }
            .menu {
                color: blue;
                text-decoration: none;
                margin-right: 10px;
            }
        </style>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>