<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <a href='/newpost', float: right;>New Post</a>
        <a href='/', float: right;>Home</a>
        <a href='/signup', float: right;>Register</a>
        <a href='/login', float: right;>Login</a>
        <a href='/logout', float: right;>Logout</a>
        <h1 align="center">BLOGZ</h1>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>